<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Dancing Script"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title>記帳趣</title>
  </head>
  <body>
    {{{body}}}

    <div class="middle">
      <div class="lead">Accumulate Life, Accumulate Wealth</div>
    </div>

    <div class="gifFile">

      <div>
        <h2>掌握收支</h2>
        <h3>清楚記錄每一筆開銷，更好地瞭解消費習慣，進一步使財務分析及財務報表資訊準確可靠。</h3>
      </div>
      <img src="images/add_record.gif" class="gif" />

      <div>
        <h2>自訂分類</h2>
        <h3>提供更加個性化的方式來追蹤收支，根據特定需求和習慣定制類別，帶來更好的財務管理。</h3>
      </div>
      <img src="images/add_category.gif" class="gif" />

      <div>
        <h2>財務分析</h2>
        <h3>瞭解收支模式，更好地調整消費習慣，並追蹤實現財務目標的進度，做出明智的財務決策。</h3>
      </div>
      <img src="images/analyze.gif" class="gif" />

      <div>
        <h2>財報揭露</h2>
        <h3>評估個人財務狀況、流動能力、取得長期資金能力、產生淨現金流量能力，以及揭露獲利能力。</h3>
      </div>
      <img src="images/report.gif" class="gif" />

    </div>

    <footer>COPYRIGHT © 2023 記帳趣</footer>
  </body>
  <script
    src="https://kit.fontawesome.com/609a3e1d99.js"
    crossorigin="anonymous"
  ></script>
</html>