<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/property.css" />
    <link rel="stylesheet" href="/css/financialanalysis.css" />
    <link rel="stylesheet" href="/css/financialstatement.css" />

    <title>記帳趣</title>
  </head>
  <body>
    <nav class="gray darken">
      <div class="nav-wrapper contain">
        <div class="brand-logo center">記帳趣</div>
        <div class="sidenav-trigger">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
    <div class="sidebar">
      <ul>
        <li><a href="/property">記帳本</a></li>
         <li><a href="/financialanalysis">財務分析</a></li>
        <li><a href="/financialstatement">財務報表</a></li>
        <li><a href="/membercenter">會員中心</a></li>
        <li><a id="signout">登出</a></li>
      </ul>
    </div>

    <div id="warnForm">
      <div id="cover">
        <div id="warn"></div>
      </div>
    </div>

    <div class="contain">{{{body}}}</div>

  </body>

  <script
    src="https://kit.fontawesome.com/609a3e1d99.js"
    crossorigin="anonymous"
  ></script>

  <script type="text/javascript" src="/javascript/checkmember.js"></script>
</html>