<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/property.css" />
    <link rel="stylesheet" href="/css/financialanalysis.css" />
    <link rel="stylesheet" href="/css/financialstatement.css" />
    <link rel="stylesheet" href="/css/error.css" />

    <title>記帳趣</title>
  </head>
  <body>
    <div class="planning">
      <div class="top">
        <div class="topTitle">
          <a href="/"><div class="project-name">
              <i class="fas fa-book-reader"></i>記帳趣
            </div></a>
          <label for="burger">
            <img src="/images/icon_burger.jpg" class="sidenav-trigger" />
          </label>
          <div class="menu">
            <a href="/property"><span class="topic-choice selection">記帳本</span></a>
            <a href="/financialanalysis"><span class="topic-choice selection">財務分析</span></a>
            <a href="/financialstatement"><span class="topic-choice selection">財務報表</span></a>
            <a href="/membercenter"><span class="topic-choice selection">會員中心</span></a>
            <a id="signout"><span class="topic-choice selection">登出</span></a>
          </div>
          <div class="open-menu">
            <a href="/property"><span class="topic-choice selection">記帳本</span></a>
            <a href="/financialanalysis"><span class="topic-choice selection">財務分析</span></a>
            <a href="/financialstatement"><span class="topic-choice selection">財務報表</span></a>
            <a href="/membercenter"><span class="topic-choice selection">會員中心</span></a>
            <a id="signout"><span class="topic-choice selection">登出</span></a>
          </div>
        </div>
      </div>

      <div id="warnForm">
        <div id="cover">
          <div id="warn"></div>
        </div>
      </div>

      <div class="contain">{{{body}}}</div>
      <footer>COPYRIGHT © 2023 記帳趣</footer>
    </div>
  </body>

  <script
    src="https://kit.fontawesome.com/609a3e1d99.js"
    crossorigin="anonymous"
  ></script>

  <script type="text/javascript" src="/javascript/checkmember.js"></script>
</html>