<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>記帳趣 - 登入</title>
  </head>
  <body>
    {{{body}}}

    <div id="warnForm">
      <div id="cover">
        <div id="warn"></div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="/javascript/signin.js"></script>
</html>