<h3>新增收入</h3>
<div class="row">
  <div class="row">
    <div class="input-field">
      <select id="categoriesList"></select>
      <select id="receive"></select>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="date" placeholder="日期" id="inputIncomeDate" />
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="text" placeholder="金額" id="inputIncomeAmount" onkeyup="this.value=this.value.replace(/\D/g,'').replace(/^0{1,}/g,'')" />
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="text" placeholder="備註" id="inputIncomeRemark" />
    </div>
  </div>

  <div class="row">
    <div id="addIncome" class="btn red darken">新增</div>
    <a href="/property" class="btn">取消</a>
  </div>
</div>

<script type="text/javascript" src="/javascript/records/addincome.js"></script>