<section class="main">
  <div class="main-top">
    <div class="createRecord">
      <div class="noRecord">
        <img src="/images/icon_record.jpg" class="icon-record" />
        <div class="record-text">點擊 + 新增一筆</div>
      </div>

      <div class="cost-list-field">
        <h3>支出清單</h3>
        <div class="costRecordList all-records"></div>
        <div class="costPageNumber"></div>
        <a href="/property/records/addcost"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

    </div>
  </div>
</section>

<script type="text/javascript" src="/javascript/records/costlist.js"></script>