<section class="main">
  <div class="main-top">
    <div class="createRecord">
      <div class="keyword-search-field">
        <input type="text" placeholder="請輸入支出分類或備註內容" id="search-category">
        <button type="submit" class="btn" id="btn-search">查詢</button>
        <div id="category-list"></div>
      </div>
      <div class="noRecord">
        <img src="/images/icon_record.jpg" class="icon-record" />
        <div class="record-text">點擊 + 新增一筆</div>
      </div>

      <div class="cost-list-field">
        <h2>支出清單</h2>
        <div class="costRecordList all-records"></div>
        <div class="costPageNumber"></div>
        <a href="/property/records/addcost"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

    </div>
  </div>
</section>

<script type="text/javascript" src="/javascript/records/costlist.js"></script>