<div class="block">
  <div class="create">更新支出明細</div>
  <div class="row">
    <div class="input-field">
      支出項目：<select id="categoriesList"></select>
    </div>
  </div>
  <div class="row">
    <div class="input-field">付款方式：<select id="pay"></select></div>
  </div>

  <div class="row">
    <div class="input-field">
      支付日期：<input type="date" placeholder="日期" id="inputCostDate" />
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      支付金額：<input type="text" placeholder="金額" id="inputCostAmount" onkeyup="this.value=this.value.replace(/\D/g,'').replace(/^0{1,}/g,'')" />
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      備註：<input type="text" placeholder="備註" id="inputCostRemark" />
    </div>
  </div>

  <div class="row">
    <button id="editCost" class="btn red darken">更新</button>
    <a href="/property/cost-list"><button class="btn right">取消</button></a>
  </div>
</div>

<script type="text/javascript" src="/javascript/records/editcost.js"></script>