<section class="main">
  <div class="main-top">
    <div class="createRecord">
      <div class="noRecord">
        <img src="/images/icon_record.jpg" class="icon-record" />
        <div class="record-text">點擊 + 新增一筆</div>
      </div>

      <div class="tax-list-field">
        <h3>所得稅清單</h3>
        <div class="incomeTaxRecordList all-records"></div>
        <div class="incomeTaxPageNumber"></div>
        <a href="/property/records/addincometax"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

    </div>
  </div>
</section>

<script type="text/javascript" src="/javascript/records/incometaxlist.js"></script>