<section class="main">
  <div class="main-top">
    <div class="createRecord">
      <div class="keyword-search-field">
        <input type="text" placeholder="請輸入關鍵字" id="search-category">
        <button type="submit" class="btn" id="btn-search">查詢</button>
      </div>
      <div class="noRecord">
        <img src="/images/icon_record.jpg" class="icon-record" />
        <div class="record-text">點擊 + 新增一筆</div>
      </div>

      <div class="income-list-field">
        <h3>收入清單</h3>
        <div class="incomeRecordList all-records"></div>
        <div class="incomePageNumber"></div>
        <a href="/property/records/addincome"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

    </div>
  </div>
</section>

<script type="text/javascript" src="/javascript/records/incomelist.js"></script>