<section class="main">
  <div class="main-top">
    <div class="createRecord">
      <div class="keyword-search-field">
        <input type="text" placeholder="請輸入所得稅類別或備註內容" id="search-category">
        <button type="submit" class="btn" id="btn-search">查詢</button>
        <div id="category-list"></div>
      </div>
      <div class="noRecord">
        <img src="/images/icon_record.jpg" class="icon-record" />
        <div class="record-text">點擊 + 新增一筆</div>
      </div>

      <div class="tax-list-field">
        <h2>所得稅清單</h2>
        <div class="incomeTaxRecordList all-records"></div>
        <div class="incomeTaxPageNumber"></div>
        <a href="/property/records/addincometax"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

    </div>
  </div>
</section>

<script type="text/javascript" src="/javascript/records/incometaxlist.js"></script>