<div class="errorPage">
  <img src="/images/icon_404.jpg" class="errorImg" />
  <div class="errorMessage">
    <div class="message">
      <div>很抱歉，這個網頁不存在！</div>
      <div>請點擊
        <a href="/"><button class="goHome">回首頁</button></a>
      </div>
    </div>
  </div>
</div>