<div class="year">
  <select id="allYear"></select>
  <button type="submit" id="submit" class="btn">查詢</button>
</div>

<div class="balance-sheet">
  <div class="title">個人資產負債表</div>
  <div class="period">
    <div class="balance-sheet-date this-year"></div>
  </div>
  <div class="include">
    <div class="asset-account line">資產</div>
    <div class="asset-amount line">金額</div>
    <div class="percent line">%</div>

    <div class="current-asset span-three">流動資產</div>

    <div class="items">
      <div class="current-asset-item"></div>
    </div>
    <div class="amounts">
      <div class="current-asset-amount"></div>
    </div>
    <div class="percentage">
      <div class="current-asset-percent"></div>
    </div>

    <div class="total-current-asset left move">流動資產合計</div>
    <div class="total-current-asset-amount total">0</div>
    <div class="total-current-asset-percent total">0%</div>

    <div class="non-current-asset span-three">非流動資產</div>
    <div class="items">
      <div class="non-current-asset-item"></div>
    </div>
    <div class="non-current-asset-amount"></div>
    <div class="non-current-asset-percent"></div>
    <div class="total-non-current-asset left move">非流動資產合計</div>
    <div class="total-non-current-asset-amount total">0</div>
    <div class="total-non-current-asset-percent total">0%</div>
    <div class="total-asset left">資 產 總 計</div>
    <div class="total-asset-amount double-line">$0</div>
    <div class="total-asset-percent double-line">0%</div>
    <div class="liability-account">負債</div>
    <div class="current-liability span-three">流動負債</div>
    <div class="items">
      <div class="current-liability-item"></div>
    </div>
    <div class="amounts">
      <div class="current-liability-amount"></div>
    </div>
    <div class="percentage">
      <div class="current-liability-percent"></div>
    </div>
    <div class="total-current-liability left move">流動負債合計</div>
    <div class="total-current-liability-amount total">0</div>
    <div class="total-current-liability-percent total">0%</div>
    <div class="non-current-liability span-three">非流動負債</div>
    <div class="items">
      <div class="non-current-liability-item"></div>
    </div>
    <div class="amounts">
      <div class="non-current-liability-amount"></div>
    </div>
    <div class="percentage">
      <div class="non-current-liability-percent"></div>
    </div>
    <div class="total-non-current-liability left move">非流動負債合計</div>
    <div class="total-non-current-liability-amount total">0</div>
    <div class="total-non-current-liability-percent total">0%</div>
    <div class="total-liability left move">負債合計</div>
    <div class="total-liability-amount line">0</div>
    <div class="total-liability-percent line">0%</div>

    <div class="equity span-three">權益</div>
    <div class="net-profit-or-loss left">本期稅後結餘</div>
    <div class="net-profit-or-loss-amount">0</div>
    <div class="net-profit-or-loss-percent">0%</div>

    <div class="total-equity left move">權益合計</div>
    <div class="total-equity-amount total">0</div>
    <div class="total-equity-percent total">0%</div>

    <div class="total-liability-and-equity left">負 債 及 權 益 總 計</div>
    <div class="total-liability-and-equity-amount double-line">$0</div>
    <div class="total-liability-and-equity-percent double-line">0%</div>
  </div>
</div>

<div class="income-statement">
  <div class="title">個人損益表</div>
  <div class="period">
    <div class="income-statement-date this-year"></div>
  </div>
  <div class="include">
    <div class="expense-and-revenue line">收入/支出</div>
    <div class="individual-amount line">金額</div>
    <div class="percent line">%</div>
    <div class="revenue span-three">收入</div>

    <div class="items">
      <div class="revenue-item left"></div>
    </div>

    <div class="amounts">
      <div class="revenue-amount"></div>
    </div>
    <div class="percentage">
      <div class="revenue-percent"></div>
    </div>
    <div class="total-revenue left move">收入總額</div>
    <div class="total-revenue-amount total">0</div>

    <div class="total-revenue-percent total">0%</div>

    <div class="expense span-three">費用</div>
    <div class="items">
      <div class="expense-item"></div>
    </div>
    <div class="amounts">
      <div class="expense-amount"></div>
    </div>
    <div class="percentage">
      <div class="expense-percent"></div>
    </div>
    <div class="total-expense left move">費用合計</div>

    <div class="total-expense-amount total">0</div>
    <div class="total-expense-percent total">0%</div>

    <div class="balance-before-tax left">本期稅前餘額</div>
    <div class="amount-before-tax">0</div>
    <div class="percent-before-tax">0%</div>

    <div class="income-tax-expense span-three">所得稅費用/利益</div>
    <div class="items">
      <div class="tax-item"></div>
    </div>
    <div>
      <div class="tax-amount"></div>
    </div>
    <div>
      <div class="tax-percent"></div>
    </div>
    <div class="balance-after-tax left">本期稅後餘額</div>
    <div class="amount-after-tax">$0</div>
    <div class="percent-after-tax">0%</div>
  </div>
</div>

<script type="text/javascript" src="/javascript/financialstatement.js"></script>