<div class="planning">
  <div class="top">
    <div class="topTitle">
      <a href="/"><div class="project-name">
        <i class="fas fa-book-reader"></i>記帳趣</div></a>
      <div class="select">
        <div class="isLogin">
          <div class="signout selection">登出</div>
          <a href="/property/cost-list"><div class="membercenter selection">會員中心</div></a>
        </div>
        <div class="notLogin">
          <a href="/signin"><div class="signin selection">登入</div></a>
          <a href="/signup"><div class="signup selection">註冊</div></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascript/home.js"></script>