<h1><i class="fas fa-book-reader"></i>記帳趣</h1>
<div class="section">
  <div class="lead">Accumulate Life, Accumulate Wealth</div>
</div>
<div class="section">
  <a href="/signin" class="btn red darken">登入</a>
  <a href="/signup" class="btn">註冊</a>
</div>