<section class="main">
  <div class="main-top">
    <div class="createRecord">
      <div class="record-lists">
        <span class="cost-detail all-details">支出清單</span>
        <span class="income-detail all-details">收入清單</span>
        <span class="writeoff-detail all-details">沖帳清單</span>
        <span class="tax-detail all-details">所得稅清單</span>
      </div>
      <div class="noRecord">
        <img src="/images/icon_record.jpg" class="icon-record" />
        <div class="record-text">點擊 + 新增一筆</div>
      </div>

      <div class="cost-list-field">
        <h3>支出清單</h3>
        <div class="costRecordList all-records"></div>
        <div class="costPageNumber"></div>
        <a href="/property/records/addcost"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

      <div class="income-list-field">
        <h3>收入清單</h3>
        <div class="incomeRecordList all-records"></div>
        <div class="incomePageNumber"></div>
        <a href="/property/records/addincome"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

      <div class="writeoff-list-field">
        <h3>沖帳清單</h3>
        <div class="writeOffRecordList all-records"></div>
        <div class="writeOffPageNumber"></div>
        <a href="/property/records/addwriteoff"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

      <div class="tax-list-field">
        <h3>所得稅清單</h3>
        <div class="incomeTaxRecordList all-records"></div>
        <div class="incomeTaxPageNumber"></div>
        <a href="/property/records/addincometax"><img src="/images/icon_plus.jpg" class="icon-plus"/></a>
      </div>

    </div>
  </div>
</section>

<script type="text/javascript" src="/javascript/property.js"></script>