<section class="main">
  <div class="main-top">
    <div class="createRecord">
      <div class="noRecord">
        <img src="/images/icon_record.jpg" class="icon-record" />
        <div class="record-text">點擊 + 新增一筆</div>
      </div>
      <h3>支出清單</h3>
      <div class="costRecordList"></div>
      <div class="costPageNumber"></div>
      <a href="/property/records/addcost"
        ><img src="/images/icon_plus.jpg" class="icon-plus"
      /></a>
      <h3>收入清單</h3>
      <div class="incomeRecordList"></div>
      <div class="incomePageNumber"></div>
      <a href="/property/records/addincome"
        ><img src="/images/icon_plus.jpg" class="icon-plus"
      /></a>
    </div>
  </div>
</section>

<script type="text/javascript" src="/javascript/property.js"></script>