<div class="planning">
  <div class="top">
    <div class="topTitle">
      <a href="/" class="project-name">
          <img src="/images/logo.jpg" class="logo" />記帳趣
        </a>
      <div class="select">
        <a href="/signin"><div class="signin selection">登入</div></a>
        <a href="/signup"><div class="signup selection">註冊</div></a>
      </div>
    </div>
  </div>

  <div id="loginForm">
    <div class="loginTitle">登入會員帳號</div>
    <div class="input-group">
      <input type="text" id="loginEmail" class="form-control" placeholder="Email" />
    </div>
    <div class="loginEmailMessage"></div>

    <div class="input-group">
      <div class="icon"></div>
      <input type="password" id="loginPassword" class="form-control" placeholder="Password" />
    </div>
    <div class="loginPasswordMessage"></div>
    <div class="button">
      <button type="submit" id="login">登入系統</button>
    </div>
    <div class="loginBottomMessage"></div>
    <div id="remind">
      <div id="notYetAccount">還沒有帳戶？</div>
      <a href="/signup"><div id="clickRegister">點此註冊</div></a>
    </div>
  </div>
</div>