body {
    margin: 0;
    background-color: #F9F7F0;
}

#loginForm, #registerForm {
    position: fixed;
    transform: translate(-170px,0px);
    top: 80px;
    left: 50%;
    width: 340px;
    display: none;
}
  
.loginTitle, .registerTitle {
    padding-top: 10px;
    height: 47px;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

input {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
  
input[placeholder] {
    padding: 15px;
    font-weight: bold;
}
  
#loginEmail, #loginPassword, #registerName, #registerEmail, #registerPassword {
    width: 276px;
    height: 13px;
    font-size: 16px;
    color: #757575;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

#login, #register {
    width: 310px;
    height: 40px;
    background: #6495ed;
    font-size: 17px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 15px;
    border-style: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

#login:hover, #register:hover {
    box-shadow: inset 0 0 3px 1px #ffffff;
    font-weight: bold;
}

.loginEmailMessage, .loginPasswordMessage, .registerNameMessage, .registerEmailMessage, .registerPasswordMessage {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: red;
    display: none;
}

.loginBottomMessage, .registerBottomMessage {
    justify-content: center;
    padding-bottom: 15px;
    display: none;
}

#remind {
    display: flex;
    justify-content: center;
}
  
#notYetAccount, #alreadyAccount {
    float: left;
    margin-bottom: 15px;
}
  
#clickRegister, #clickLogin {
    float: left;
    cursor: pointer;
    color: black;
}

#clickRegister:hover, #clickLogin:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.05);
}