.noCategory {
    text-align: center;
}

.categoryForm {
    position: fixed;
    transform: translate(-170px,0px);
    top: 150px;
    left: 50%;
    height: 180px;
    width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 2;
    display: none;
}

.cover {
    background: linear-gradient(270deg, #072A40 0%, #178CA4 100%);
    background-size: 350px 10px;
    background-repeat: no-repeat;
    border-radius: 6px;
    height: 180px;
}

.add, .edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 16px;
}

.addCostMessage, .editCostMessage, .addIncomeMessage, .editIncomeMessage {
    display: none;
    justify-content: center;
    align-items: center;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.addButton, .editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cost-category-list, .income-category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.costCategory, .incomeCategory {
    border-style: solid;
    text-align: center;
    display: inline-block;
    width: 15%;
    margin: 10px;
}

.img-plus {
    width: 60px;
    padding: 50px;
    cursor: pointer;
}

.cost-field, .income-field {
    text-align: center;
}

.img-plus:hover {
    transform: scale(1.2);
}

.fa-edit {
    margin: 5px;
    color: #18B7B1;
}

.fa-trash {
    margin: 5px;
    color: red;
}

.fa-edit:hover, .fa-trash:hover {
    cursor: pointer;
    transform: scale(1.2);
}