.financial {
    margin: 20px;
    display: flex;
    border: 1px solid;
    border-radius: 5px;
}

.months, .years {
    width: 640px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.month-cost {
    text-align: center;
}

.lasting {
    margin: 20px;
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.cost, .income, .balance {
    width: 426px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.year-cost, .month-income, .year-income, .month-net, .year-net {
    text-align: center;
    display: none;
}

.totalCost, .totalIncome, .net, .detailList {
    text-align: center;
    font-weight: bold;
}

#allchart {
    width: 300px;
    margin: auto;
}