.financial {
    margin: 20px;
    display: flex;
    border: 1px solid;
    border-radius: 5px;
}

.assets, .profiAndLoss, .months, .years, .assets-month, .assets-year {
    width: 640px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.assetsAndLiability {
    display: none;
}

.netAssets {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.assets-month-net, .assets-year-net, .month-cost {
    text-align: center;
}

.lasting {
    margin: 20px;
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.cost, .income, .balance {
    width: 426px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.year-cost, .month-income, .year-income, .month-net, .year-net {
    text-align: center;
    display: none;
}

.totalCost, .totalIncome, .net, .detailList, .net-assets {
    text-align: center;
}

#allchart {
    width: 300px;
    margin: auto;
}