label {
    display: none;
}

.sidenav-trigger {
    height: 30px;
    width: 30px;
    right: 0;
    top: 10px;
    margin-top: 0;
    padding: 10px;
    position: absolute;
    text-align: right;
    display: none;
}

.menu {
    display: flex;
    justify-self: end;
}

.topic-choice {
    font-size: 16px;
    line-height: 54px;
    cursor: pointer;
    margin-right: 15px;
    color: #072A40;
    font-weight: bold;
}

.open-menu {
    display: none;
    position: fixed;
    justify-self: end;
}

#warnForm {
    position: fixed;
    transform: translate(-170px,0px);
    top: 80px;
    left: 50%;
    width: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 2;
    display: none;
}

#cover {
    background: linear-gradient(270deg, #072A40 0%, #178CA4 100%);
    background-size: 340px 10px;;
    background-repeat: no-repeat;
    border-radius: 6px;
}

#warn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 16px;
}

.contain {
    display: grid;
    grid-template-columns: minmax(360px,1200px);
    margin-top: 91px;
    justify-content: center;
}

a {
    text-decoration: none;
}

.block {
    margin: auto;
}

.create {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin: 20px;
}

.row {
    margin: 20px;
    text-align: left;
}

.input-field {
    position: relative;
}

select {
    font-family: "Papyrus";
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #F9F7F0;
    border: 1px #072A40 solid;
    border-radius: 5px;
    margin-left: 10px;
}

input {
    width: 150px;
    height: 30px;
}

input[type] {
    font-family: "Papyrus";
    font-weight: bold;
    text-align: center;
    border: 1px #072A40 solid;
    border-radius: 5px;
    margin-left: 10px;
}

.btn {
    width: 60px;
    text-decoration: none;
    color: #fff;
    background-color: #18B7B1;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-align: center;
}

.btn:hover {
    box-shadow: inset 0 0 3px 1px #ffffff;
    font-weight: bold;
}

.red.darken {
    background-color: #E53935 !important;
}

.right {
    float: right;
}

@media (max-width: 800px) {
    label {
        display: block;
    }
    .sidenav-trigger {
        display: block;
    }
    .menu {
        display: none;
    }
    .topic-choice {
        color: #FFFFFF;
        height: 40px;
        margin-right: 0;
    }
    .open-menu {
        display: none;
        flex-direction: column;
        font-size: 20px;
        width: 50%;
        height: 130vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: -5px 5px 5px rgb(218, 214, 214, 0.5);
        z-index: 2;
        text-align: center;
        gap: 20px;
        align-items: center;
    }
}