.createRecord {
    padding: 20px;
    align-items: center;
    text-align: center;
}

.record-lists {
    margin: 20px;
    display: flex;
    border: 1px solid;
    border-radius: 5px;
}

.all-details {
    width: 25%;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.income-list-field, .writeoff-list-field, .tax-list-field {
    display: none;
}

.all-records {
    display: grid;
    grid-template-columns: repeat(4, 265px);
    width: 100%;
    gap: 30px;
    margin: 50px auto;
    justify-content: center;
}

.icon-record {
    width: 100px;
    padding: 10px;
}

.record-text {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.record {
    border: 1px solid;
    border-radius: 5px;
}

.date {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid;
    font-weight: bold;
}

.category, .amount, .remark, .pay, .receive, .payId, .receiveId, .income-tax {
    padding: 5px;
    margin: auto;
    font-weight: bold;
}

.updateImg, .deleteCostImg, .deleteIncomeImg, .deleteWriteOffImg, .deleteTaxImg {
    width: 30px;
    cursor: pointer;
}

.icon-plus {
    width: 60px;
    padding: 50px;
    cursor: pointer;
}

.icon-plus:hover, .updateImg:hover, .deleteCostImg:hover, .deleteIncomeImg:hover, .deleteWriteOffImg:hover {
    transform: scale(1.2);
}

.costPageNumber, .incomePageNumber, .writeOffPageNumber, .incomeTaxPageNumber {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.costPageNumber span, .incomePageNumber span, .writeOffPageNumber span, .incomeTaxPageNumber span {
    width: 50px;
    border: 1px solid;
    margin: 10px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.costPageNumber span:hover, .incomePageNumber span:hover, .writeOffPageNumber span:hover, .incomeTaxPageNumber span:hover {
    background: #444;
    color: #fff;
}

.active {
    background: #444;
    color: #fff;
}

@media (max-width: 1200px) {
    .all-records {
      grid-template-columns: repeat(3, 270px);
    }
  }
  
  @media (max-width: 900px) {
    .all-records {
      grid-template-columns: repeat(2, 270px);
    }
  }
  
  @media (max-width: 600px) {
    .all-records {
      grid-template-columns: repeat(1, 320px);
      gap: 15px;
    }
  }