.createRecord {
    padding: 20px;
    align-items: center;
    text-align: center;
}

.icon-record {
    width: 100px;
    padding: 10px;
}

.record-text {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.record {
    border: 1px solid;
    border-radius: 5px;
    margin: 20px;
}

.date {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid;
}

.category, .amount, .remark {
    padding: 10px;
    margin: auto;
}

.updateImg, .deleteCostImg, .deleteIncomeImg, .deleteWriteOffImg, .deleteTaxImg {
    width: 30px;
    cursor: pointer;
    padding: 10px;
}

.icon-plus {
    width: 60px;
    padding: 50px;
    cursor: pointer;
}

.icon-plus:hover, .updateImg:hover, .deleteCostImg:hover, .deleteIncomeImg:hover, .deleteWriteOffImg:hover {
    transform: scale(1.2);
}

.costPageNumber, .incomePageNumber, .writeOffPageNumber, .incomeTaxPageNumber {
    display: flex;
    justify-content: center;
}

.costPageNumber span, .incomePageNumber span, .writeOffPageNumber span, .incomeTaxPageNumber span {
    width: 50px;
    border: 1px solid;
    margin: 10px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.costPageNumber span:hover, .incomePageNumber span:hover, .writeOffPageNumber span:hover, .incomeTaxPageNumber span:hover {
    background: #444;
    color: #fff;
}